* {
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgrey;
}

.gmae-site {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto 0;
    max-width: 750px;
    background-color: white;
    padding: 1%;
}

.game-card-box {
    position: relative;
    width: 14.666666%;
    height: 120px;
    margin: 1%;
}

@media screen and (max-width: 768px) {
    .game-card-box {
        width: 23%;
    }
}

.card-style {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform .4s;
    border-radius: 10px;
}

.card-font {
    background-color: lightblue;
    transform: rotateY(180deg);
    /* 暫定樣式 */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 2rem;
}

.card-back {
    background-color: black;
    background-image: url(../imgs/card-back.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.game-card-box.actived .card-font {
    transform: rotateY(0deg);
}

.game-card-box.actived .card-back {
    transform: rotateY(180deg);
}


option {
    height: 25px;
    text-align: center;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 5px 2px;
}